<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar nabvar-expand-lg navbar-dark bg-primary">
      <div class="navbar-brand">
      <%= link_to "ChatApp", root_path %>
      </div>
    </nav>
    
    <%= yield %>
  </body>
</html>
